:root {
  font-family: "Poppins";
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  margin:0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #119c84;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #077b68;
}
