.bg{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    clip-path: circle(0px);
    animation: expandir 1.5s .3s ease-in-out forwards;
}

@keyframes expandir{
    100%{
        clip-path: circle(800px);
    }
}

.view1{
    position: relative;
    height: 120vh;
}

.title{
    margin: 0;
    padding-top: 200px;
    font-size: 3em;
    color: white;
    text-align: center;
    /* background-color: red; */
    width: 100vw;
}
.parrafo{
    font-weight: 500;
    padding: 0px 300px;
    color: white;
}

.button{
    background-color: white;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 8px;
    font-size: 1.3em;
    border: 0;
    cursor: pointer;
    position: relative;
    transition: .4s;
    animation: color .5s 1s ease-in-out forwards;
}

@keyframes color {
    100%{
        color: #00715e;
    }
}

.button::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: #00715e; /* Color de fondo deseado */
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.6s;
    z-index: -1;
  }
  
  .button:hover{
    color:rgb(0, 0, 0)
  }

  .button:hover::before {
    clip-path: circle(100% at 50% 50%);
  }

.view2{

}

.title2{
    font-size: 3em;
    color: #00715e
}

.img{
    width: 450px;
}

.benefits{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.subtitle{
    text-align: start;
    color: rgb(17, 17, 34);
}

.resaltar{
    color:#00715e
}

.desc{
    text-align: start;
    color: grey;
}

.descBenefit{
    color: grey;
    font-size: .85em;
    text-align: start;
    margin: 0;
}

.benefit{
    width: 550px;
    height: 100px;
    border-radius: 6px;
    margin-top: 20px;
    /* background-color: rgb(111, 0, 0); */
    box-shadow: 0px 5px 5px 5px rgba(187, 187, 187, 0.246);
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px 20px;
}

.titleBenefit{
    font-weight: 700;
    text-align: start;
    margin: 0;
}

.benefits2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    flex-direction: row-reverse;
}

.view3{
    margin-top: 100px;
    height: 85vh;
}

.laptop{
    width: 700px;
    display: inline-block;
  transform: translateY(-10px); /* Mueve la imagen hacia arriba */
  transition: transform 0.3s ease-in-out; /* Añade una transición suave */
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.25)); /* Agrega una sombra */
}

.video{
    position: absolute;
    left: 50%;
    margin-top: 20px;
    /* top: 50%; */
    transform: translateX(-50%);
}

.view4{
    padding: 50px 0px;
    margin-top: 100px;
    height: 85vh;
    background-color: #077b68;
}

.planes{
    display: flex;
    justify-content: space-evenly;
}

.plan{
    width: 275px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}


.view5{
    margin-top: 100px;
    height: 85vh;
}

.view6{
    margin-top: 100px;
    padding: 50px 0px;
    height: 40vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    margin-bottom: 100px;
}

.description{
    display: flex;
    flex-direction: column;
}

.title3{
    color: #00715e;
    text-align: start;
    width: 400px;
    font-size: 2em;
    margin:0;
}

.descriptionapp{
    text-align: justify;
    width: 400px;
    font-size: .9em;
    color: rgb(69, 69, 69);
}

.buttonGoogle{
    max-width: 170px;
    transition: .3s;
    cursor: pointer;
}

.buttonGoogle:hover{
    scale:1.05;
}

.tlf{
    min-height: 500px;
}